.king-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  cursor: pointer;
  font-size: 0.75rem;

  border: 1px solid rgb(var(--color-cyan));
  border-left-width: 4px;
  border-radius: 15px;
  corner-shape: square square bevel square;
  padding: 0;
  width: 300px;

  &:hover {
    background-color: rgba(var(--color-cyan), 0.1);
  }

  .king-button__holy-icon {
    margin-right: auto;
    height: 20px;
    width: 20px;
    font-size: 20px;
  }

  .king-button__text {
    flex: 1;

    .name {
      font-weight: bold;
      font-size: 0.825rem;
    }

    &.king-button__text--split {
      display: flex;
      align-items: center;
      justify-content: space-between;

      > div {
        text-align: center;
        flex: 1 0 50%
      }
    }
  }
}