.king-button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.75rem;

  border: 1px solid rgb(var(--color-cyan));
  padding: 8px 12px;
  width: 300px;

  &:hover {
    background-color: rgba(var(--color-cyan), 0.1);
  }

  .king-button__holy-icon {
    margin-right: auto;
    height: 20px;
    width: 20px;
    font-size: 20px;
  }

  .king-button__text {
    flex: 1;

    .name {
      font-weight: bold;
      font-size: 0.825rem;
    }
  }
}