.btn {
  background-color: rgba(var(--color-darkest-blue), 0.8);
  border: 1px solid rgba(var(--color-red), 0.3);
  border-radius: 15px;
  corner-shape: square square bevel;
  padding: 10px 20px;
  position: relative;
  color: rgb(var(--color-cyan));
  cursor: pointer;

  .btn-content {
    position: relative;
    z-index: 1;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 15px;
    corner-shape: square square bevel;
    z-index: 0;
  }

  &:hover {
    border: 1px solid rgba(var(--color-red), 1);

    &::before {
      background-color: rgba(var(--color-red), 0.1);
    }
  }

  &:active {
    border: 1px solid rgba(var(--color-red), 1);

    &::before {
      background-color: rgba(var(--color-red), 0.7);
    }
  }

  &.is-active {
    border: 1px solid rgba(var(--color-red), 1);

    &::before {
      background-color: rgba(var(--color-red), 0.4);
    }
  }
}