.btn {
  background-color: rgba(var(--color-darkest-blue), 0.8);
  border: 1px solid rgba(var(--color-red), 0.3);
  padding: 10px 20px;
  position: relative;

  &::before,
  &::after {
    content: '';
    display: block;
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &:hover {
    border: 1px solid rgba(var(--color-red), 1);
    cursor: pointer;

    &::before {
      background-color: rgba(var(--color-red), 0.1);
    }
  }

  &:active {
    border: 1px solid rgba(var(--color-red), 1);
    cursor: pointer;

    &::before {
      background-color: rgba(var(--color-red), 0.7);
    }
  }
}