.route-reveal-container {
  position: relative;
  width: 800px;
  height: calc(100vh - 80px);
}

.route-reveal-canvas {
  width: 800px;
  position: absolute;
  inset: 0;
  z-index: 0;

  &.is-not-visible {
    display: none;
  }
}

.route-reveal-content {
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: opacity 400ms ease;
}

.route-reveal-content.is-visible {
  opacity: 1;
}