.kings-page {
  padding-left: 50px;

  .kings-columns-container {
    display: flex;
    gap: 50px;
  };

  ul {
    list-style-type: none;
    padding: 0;
    margin:  0;
  };

  li + li {
    margin-top: 4px;
  }
}