.large-bright-bar {
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;

  .bar {
    flex: 1 0 auto;
    width: 85%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 2px;
  }

  .decoration {
    display: block;
    width: 20px;
    height: 20px;

    svg {
      height: 20px;
      width: 20px;
    }
  }

  .transparent-bar {
    height: 30px;

    .decoration {
      svg {
        color: rgba(var(--color-cyan), 0.5);
      }

      &.decoration--one,
      &.decoration--two,
      &.decoration--three {
        margin-bottom: 2px;
      }

      &.decoration--one {
        margin-left: 5px;
      }

      &.decoration--three {
        width: 70px;
        display: flex;
        flex-wrap: wrap;

        span {
          font-size: 6px;
          line-height: 0.5;
          color: rgb(var(--color-cyan));
        }

        svg {
          height: 8px;
          width: 8px;
        }
      }

      &.decoration--four {
        width: 60px;

        svg {
          margin-right: -8px;
        }
      }
    }
    &.alternate-bar {
      justify-content: flex-end;
      .decoration--one {
        order: 3;
      }
      .decoration--two {
        order: 2;
      }
      .decoration--three {
        order: 1;
      }
    }
  }

  .bright-bar {
    height: 100px;
    background-color: rgb(208 252 255);
    box-shadow: 0 0 10px rgb(208 252 255);

    .decoration {
      svg {
        color: rgba(var(--color-darkest-blue), 0.5);
      }

      &.decoration--one,
      &.decoration--two,
      &.decoration--three {
        margin-bottom: 10px;
      }

      &.decoration--one {
        margin-left: 20px;
      }
    }
  }

  .header {
    width: 85%;
  }

  .header-button {
    border: 1px solid rgb(var(--color-cyan));
    width: 100%;
    text-align: center;
    display: block;
    background-color: rgba(var(--color-cyan), 0.2);
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }

    h1 {
      font-size: 8rem;
      margin: 0;
    }
  }

  .sub-header {
    width: calc(85% - 6px);
    text-align: left;
    border: 2px solid rgb(var(--color-cyan));
    flex: 0 1 auto;
    padding: 2px 3px;
    margin-top: 8px;
    position: relative;

    p {
      margin: 0;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: calc(100% + 4px);
      height: 2px;
      background-color: rgb(var(--color-cyan));
      top: -8px;
      left: -2px;
      flex: 1;
    }
  }
}

@keyframes fake-move-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(10px);
  }
}