.info-card {
  border: 1px solid rgba(var(--color-red), 1);
  border-radius: 15px;
  corner-shape: square square bevel square;
  background-color: rgba(var(--color-darkest-blue), 0.2);

  &.info-card--one {
    box-shadow: 0 0 10px rgba(var(--color-red), 0.5);
    padding: 1rem 1rem 1rem 2rem;
    position: sticky;
    top: 1rem;
    z-index: 5;
    align-self: start;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 100%;
      background-color: rgba(var(--color-red), 0.3);
    }
  }

  &.info-card--two {
    border-color: rgba(var(--color-cyan), 0.5);
    background-color: rgba(var(--color-darkest-blue), 0.4);
  }
}