.daniel-page {
  width: calc(100% - 50px);
  padding-left: 50px;
  color: rgb(var(--color-cyan));

  .item-row {
    background-color: rgba(var(--color-darkest-blue), 0.3);
    border: none;
    cursor: pointer;
    width: calc(100% - 50px);
    text-align: left;

    &+.item-row {
      margin-top: 1rem;
    }

    &.header-row {
      border: 1px solid rgba(var(--color-red), 0.3);
      border-radius: 15px;
      corner-shape: square square bevel square;
      padding: 0.5rem 0.75rem;
      margin-bottom: 1rem;
      position: relative;
      margin-left: 15px;
      width: calc(100% - 65px);

      &:before {
        content: '';
        position: absolute;
        top: -1px;
        left: -15px;
        width: 10px;
        height: 100%;
        border: 1px solid rgba(var(--color-red), 0.3);
        background-color: rgb(var(--color-darkest-blue), 0.2);
      }

      p {
        margin: 0;
      }
    }
  }

  .icon-cell--large {
    font-size: 3rem;
    color: rgba(var(--color-red), 0.5);
    flex: 0 0 60px;
  }

  .item-content {
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
    border: 1px solid rgba(var(--color-red), 0.3);
    padding: 0.5rem;
    border-radius: 15px;
    corner-shape: square square bevel;
  }

  .item-cell {
    &.icon-cell--med {
      flex: 0 0 40px;
    }

    .item-text {
      &.prophecy {
        font-size: 1rem;
      }
    }
  }



  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon--med {
      font-size: 2.5rem;
      color: rgba(var(--color-purple), 0.8);
    }

    .decoration-text {
      font-size: 0.3rem;
      color: rgba(var(--color-red), 0.7);
      text-transform: uppercase;
      margin-top: 4px;
    }
  }

  .item-text {
    font-size: 0.825rem;
    align-self: flex-start;
  }
}