.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0 0 0 / 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal {
  border: 1px solid rgb(var(--color-red));
  border-radius: 50px;
  corner-shape: square square square bevel;
  background-color: rgba(var(--color-darkest-blue), 0.8);
  inset: 20% 10% 10%;
  padding: 1rem;
  position: absolute;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -18px;
    width: 5px;
    height: calc(100% - 58px);
    background: rgb(var(--color-red));
    border: 1px solid rgb(var(--color-red));
    border-radius: 20px;
    corner-shape: square square square bevel;
    z-index: -1;
    padding: 4px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 7px;
    color: rgb(var(--color-red));
  }

  &::after {
    content: "ga la ti an s:  05 21 25 -- -- -- -- --";
    position: absolute;
    top: -1px;
    right: -45px;
    width: 30px;
    height: calc(100% - 8px);
    background: rgba(var(--color-darkest-blue), 0.8);
    border: 1px solid rgb(var(--color-red));
    z-index: -1;
    padding: 4px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 7px;
    color: rgb(var(--color-red));
  }
}


.modal-close {
  color: rgb(var(--color-red));
  position: absolute;
  top: 0.5rem;
  right: 0.825rem;
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 2;
}

.modal-body {
  padding-top: 1.5rem;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: calc(100% - 60px);
  overflow: scroll;
}

.modal-content {
  position: relative;
  z-index: 1;
}

.modal-footer {
  height: 60px;
}

.letter-glitch {
  animation: fadeOut 1s 1 forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}