.home.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100vh;

  .decorative-border.horizontal {
    &.top {
      position: absolute;
      top: 0;
      left: 0;
    }

    &.bottom {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}