.city-info {
  box-sizing: border-box;
  padding: 1rem 1.25rem;
  max-width: 100%;
  color: rgb(var(--color-gray));
  font-family: "Orbitron", sans-serif;
  -webkit-font-smoothing: antialiased;

  h2 {
    margin: 0 0 0.25rem 0;
    color: rgb(var(--color-cyan));
    font-size: 2rem;
  }

  p {
    margin: 0.12rem 0;
    line-height: 1.15;
    font-size: 1.5rem;
  }

  >h3 {
    margin-top: 0.75rem;
    margin-bottom: 0.35rem;
    color: rgb(var(--color-cyan));
    font-size: 1rem;
  }

  .refs-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.25rem 1.25rem;
  }

  .scripture-section {
    margin: 0 0 0.35rem 0;

    .testemant-heading {
      margin: 0 0 0.12rem 0;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  .ref-block {
    margin: 0 0 0.08rem 0;
  }

  .ref-line {
    margin: 0;
    line-height: 1.15;
    font-size: 0.85rem;
    color: rgb(var(--color-gray));
  }

  .ref-book {
    color: rgb(var(--color-cyan));
    font-weight: 700;
    margin-right: 0.25rem;
  }

  .ref-verses {
    color: rgb(var(--color-white));
  }
}

/* Responsive: single column on narrow screens */
@media (min-width: 540px) {
  .city-info {
    .refs-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 1000px) {
  .city-info {
    max-width: 100%;
  }
}