.app-bg {
  --dark-red: 42, 13, 14;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;

  &.red-bg {
    background-image: radial-gradient(circle at 55% -50%,
        rgba(var(--dark-red), 1),
        rgba(var(--dark-red), 1) 50%,
        rgba(var(--color-darkest-blue), 1) 60%,
        rgba(var(--color-darkest-blue), 1) 100%);
  }

  &.blue-bg {
    background-image: linear-gradient(45deg, rgb(20 53 55), rgb(34 86 89));
  }
}

.app {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  .content {
    width: calc(100% - 55px);
    margin: 0;
    padding: 20px 20px 20px 35px;
  }
}