.map {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

.map-container {
  padding-left: 5px;
}

.timeline-years {
  border-bottom: 1px solid rgb(var(--color-red));
  padding-bottom: 0.5rem;

  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.timeline-events {
  .event-group-container {
    padding: 1rem;
    margin: 0;
    list-style: none;
  }

  .event-group {
    padding: 0;
    margin: 0;
    list-style: none;

    .event-group-label {
      font-size: 1.25rem;
    }
  }

  .events-list,
  .event {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .event-label {
    display: inline-flex;
    align-items: start;
    gap: 0.5rem;
    cursor: pointer;
  }

  .event {
    &+.event {
      margin-top: 0.5rem;
    }
  }

  .event-radio {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid rgba(var(--color-red), 0.3);
    background: rgba(var(--color-red), 0.3);
    display: inline-block;
    position: relative;
    flex: 0 0 auto;
    margin-top: 5px;
  }

  .event-radio:checked {
    background-color: rgba(var(--color-red), 1);
  }

  .event-radio:focus {
    outline: 2px solid rgba(var(--color-red), 1);
    ;
    outline-offset: 2px;
  }

  .event-group {
    &+.event-group {
      margin-top: 1rem;
    }
  }
}

.map-svg {
  width: 100%;
}

#Sidon,
#Demascus,
#Caesarea-Philippi,
#Tyre {
  cursor: pointer;

  &:hover {
    outline: 2px solid hsl(from var(--color-red) h s l)
  }
}

.city {
  path {
    fill: rgba(var(--color-cyan), 1)
  }

  circle {
    fill: rgba(var(--color-cyan), 1);
    stroke-width: 4.17px;
    stroke: rgba(var(--color-red), 1);
  }

  &.event-highlight {
    path {
      fill: rgba(var(--color-red), 1)
    }

    circle {
      fill: rgba(var(--color-red), 1);
      stroke: rgba(var(--color-red), 1);
      stroke-width: 10px;
    }
  }
}