.app.content.map-container {
  width: 50%;
  border: 1px solid rgb(var(--color-red));
}

.map-svg {
  width: 100%;
}

#Sidon,
#Demascus,
#Caesarea-Philippi,
#Tyre {
  cursor: pointer;
  &:hover {
    outline: 2px solid hsl(from var(--color-red) h s l)
  }
}