.decorative-border {
  --square-size: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;


  &.horizontal {
    flex-direction: row;
    height: 16px;
    width: 100%;
  }

  &.vertical {
    flex-direction: column;
    height: 100%;
    width: 16px;
  }

  svg {
    width: var(--square-size);
    height: var(--square-size);
    color: rgb(var(--color-cyan));
  }
}