.bar-pattern-canvas-container {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  .bar-pattern-canvas {
    position: absolute;
    inset: 0;
    z-index: 0;
    height: 65px;
  }

  .bar-pattern-content {
    position: relative;
    width: 85%;
    z-index: 1;
  }
}